{% extends '_base.html' %}

  {% block title %}
  Sobre
  {% endblock title %}

  {% block content %}
  <center>
    <h1 class="mt-5 text-danger">Falamos sobre a empresa</h1>
  </center>
  <div class="text-justify text-black m-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  Duis scelerisque sapien eu magna lacinia ultrices. Morbi efficitur ante 
  ut ex maximus lobortis non non massa. Curabitur ipsum risus, consectetur 
  varius lectus eu, sagittis egestas ante. Nam congue eu nibh eget finibus. 
  Pellentesque iaculis purus ac odio ultricies venenatis. Vivamus condimentum ante vitae blandit ornare. 
  Phasellus sapien lorem, sagittis et fermentum pellentesque, feugiat quis velit. Quisque venenatis dui quis augue posuere 
  ultrices. Vivamus quis auctor tellus. Ut eu lorem vel elit rhoncus facilisis. Donec dignissim iaculis dolor, sit amet convallis 
  arcu. Sed fringilla quis ligula vel ultrices. Vestibulum a lobortis mi, a congue quam. Pellentesque eleifend justo mi, venenatis commodo 
  lacus ultrices in.
  </p>
  <p>Quisque mi dolor, dictum ac ante eu, lobortis dapibus lacus. Sed molestie posuere magna, 
  ac ultrices erat. Sed rutrum id neque eget interdum. Vivamus scelerisque tempor commodo. 
  Pellentesque rhoncus pellentesque tellus eu viverra. Donec laoreet rhoncus libero, quis cursus enim facilisis viverra. 
  Etiam a tortor euismod, mattis lacus vel, suscipit justo. Aliquam non tellus placerat, facilisis augue sed, eleifend ex. Sed nec massa orci. 
  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur vitae maximus dolor. 
  Nam nunc diam, ornare ac nisi ac, accumsan fringilla neque. Pellentesque sed est arcu. Praesent at lacus posuere, 
  fermentum neque vel, maximus ante. Vivamus fringilla libero in odio tempus euismod vitae vel purus.
  </p>
  </div>
  {% endblock content %}
